body {

  background-size: 100% auto;
  padding-top: 50px;
}
.starter-template {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 40px 15px;
  text-align: center;
}

pre.prettyprint {
  border: 1px solid #ccc;
  margin-bottom: 0;
  padding: 9.5px;
}