body {

  background-size: 100% auto;
  padding-top: 50px;
}
.starter-template {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 40px 15px;
  text-align: left;
}

a, a:hover, a:active, a:visited { 
  color: white; 
}

.label {
  font-size: 12px;
}