<!DOCTYPE html>
<html>
<head>
  <title>Fhir Widget One</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h3>Fhir Widget one</h3>

          <form role="form" class="form-inline">
           <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" />
          </div>

          <input type="submit" value="Login" />

          </form>

<button type="button" class="btn btn-primary">Primary</button>

        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>